@use "../utils/mixins" as *;
@use "../utils/variaveis" as *;

@keyframes aparecerSuavemente {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  25% {
    opacity: 0.3;
    transform: translateY(-15px);
  }
  50% {
    opacity: 0.6;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.lista {
  @include displayFlex(center, center, 1rem, column);
  overflow: auto;
  max-height: 35rem;
}

.lista::-webkit-scrollbar {
  width: 2px;
}

.lista::-webkit-scrollbar-track {
  background-color: $cor-quaternaria;
}

.lista::-webkit-scrollbar-thumb {
  background-color: $cor-primaria;
}

.frase-lista {
  @include displayFlex(space-between, center, 1rem);

  p {
    display: none;
  }

  button {
    background-color: transparent;
  }

  img {
    width: 1.5rem;
    height: auto;
  }
}

.frase-principal {
  width: 50%;
}

.frase-lista {
  opacity: 0;
  animation: aparecerSuavemente 2s ease-in-out forwards;
}

@media screen and (min-width: 720px) {
  .lista {
    max-height: 20rem;
  }
}
