@use "../utils/mixins" as *;
@use "../utils/variaveis" as *;

@keyframes rotate-click {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.navegacao {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 1rem 1rem;
  align-items: center;

  p {
    display: none;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.5s ease;
  }
}

.navegacoes__buttons {
  background-color: transparent;
}

.button-reload {
  &:hover img {
    transform: rotate(180deg);
  }

  &:active img {
    animation: rotate-click 2s linear 1;
  }
}

.navegacoes__title {
  @include aplyFont(600, 3rem, $cor-quaternaria);
  padding: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .navegacao {
    flex-direction: column;
  }
}

@media screen and (min-width: 720px) {
  .button-about,
  .button-contact {
    display: none;
  }

  .navegacoes__title {
    @include aplyFont(600, 3rem, $cor-quaternaria);
    background: darken($cor-primaria, 1.5%);
    padding: 1rem;
    cursor: pointer;

    svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    rect {
      fill: none;
      stroke: #fff;
      stroke-width: 2;
      stroke-dasharray: 422, 0;
      transition: all 0.35s linear;
    }
  }

  .navegacoes__title:hover {
    background: rgba($cor-primaria, 0);
    font-weight: 900;
    letter-spacing: 1px;

    rect {
      stroke-width: 5;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
