@use "../utils/mixins" as *;
@use "../utils/variaveis" as *;

@keyframes rotate-click {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.navegacao {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 1rem 1rem;
  align-items: center;

  p {
    display: none;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.5s ease;
  }
}

.navegacoes__buttons {
  background-color: transparent;
}

.button-reload {
  &:hover img {
    transform: rotate(180deg);
  }

  &:active img {
    animation: rotate-click 2s linear 1;
  }
}

@media screen and (min-width: 720px) {
  .button-about,
  .button-contact {
    display: none;
  }
}
