@charset "UTF-8";
/* 
 * https://github.com/jtrost/Complete-CSS-Reset
*/
/* Displays for HTML 5 */
article,
aside,
audio,
command,
datagrid,
details,
dialog,
embed,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
video,
wbr {
  display: block;
}

bdi,
figcaption,
keygen,
mark,
meter,
progress,
rp,
rt,
ruby,
time {
  display: inline;
}

/* Deprecated tags */
acronym,
applet,
big,
center,
dir,
font,
frame,
frameset,
noframes,
s,
strike,
tt,
u,
xmp {
  display: none;
}

/* Reset styles for all structural tags */
a,
abbr,
area,
article,
aside,
audio,
b,
bdo,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
command,
datalist,
dd,
del,
details,
dialog,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
head,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
keygen,
kbd,
label,
legend,
li,
map,
mark,
menu,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
rp,
rt,
ruby,
samp,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
  z-index: 1;
}

/* Miscellaneous resets */
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Adjust scss */
html,
body {
  height: 100%;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #00ccbe;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  font-family: "Poppins", sans-serif;
  color: #edebc9;
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #edebc9;
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #edebc9;
  font-weight: 500;
  font-size: 1rem;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #00ccbe;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  background-color: black;
  border-radius: 0.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

li {
  font-family: "Poppins", sans-serif;
  color: #edebc9;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
}

@keyframes rotate-click {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.navegacao {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 1rem 1rem;
  align-items: center;
}
.navegacao p {
  display: none;
}
.navegacao img {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.5s ease;
}

.navegacoes__buttons {
  background-color: transparent;
}

.button-reload:hover img {
  transform: rotate(180deg);
}
.button-reload:active img {
  animation: rotate-click 2s linear 1;
}

@media screen and (min-width: 720px) {
  .button-about,
  .button-contact {
    display: none;
  }
}
.div-principal {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.salvar {
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  border-radius: 0;
  display: inline-block;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}
.salvar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.salvar:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width 1s ease-in-out; /* Adiciona a transição */
}
.salvar:hover:before {
  width: 100%;
}
.salvar:active {
  transform: scale(1.1);
}

.frase {
  margin: 1rem;
  z-index: 2;
  transition: transform 2s ease, all 2s ease;
}
.frase:hover, .frase:active {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  /* Aplica nova fonte ao próprio texto */
}
.frase:hover::after, .frase:active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px); /* Aplica o desfoque */
  background: rgba(255, 255, 255, 0.1); /* Adiciona um leve escurecimento */
  pointer-events: none; /* Permite interações normais */
  z-index: -1; /* Coloca o blur abaixo do texto */
}

@media screen and (min-width: 720px) {
  .salvar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -2;
  }
  .salvar:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #edebc9;
    z-index: -1;
    transition: width 0.3s ease-in-out; /* Adiciona a transição */
  }
  .salvar:hover:before {
    width: 100%;
  }
  .frase {
    margin: 5rem;
    font-size: 2rem;
  }
}
@keyframes aparecerSuavemente {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  25% {
    opacity: 0.3;
    transform: translateY(-15px);
  }
  50% {
    opacity: 0.6;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  animation: aparecerSuavemente 0.8s ease-out forwards;
}

.frase-lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.frase-lista p {
  display: none;
}
.frase-lista button {
  background-color: transparent;
}
.frase-lista img {
  width: 1.5rem;
  height: auto;
}

.frase-principal {
  width: 50%;
}

footer {
  display: none;
}

@media screen and (min-width: 720px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    padding: 1rem;
  }
  footer h2 {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 1rem;
  }
  footer a {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 0.7rem;
  }
  footer p {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 0.7rem;
  }
  .direitos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .direitos img {
    width: 1rem;
    height: auto;
  }
  .contatos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
  }
  .reference {
    color: #edebc9;
  }
}/*# sourceMappingURL=styles.css.map */